.temp-class {
	margin-top:50px;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #403D4B;
}
#pic-pro {
	height:75%;
	width:75%;
}
h1 {
	text-align:center;
}
#pic-sudoku {
	height:50%;
	width:50%;
}
body {
	font-family:Rockwell,"Bodoni MT";
	margin-left:100px;
	margin-right:100px;
	background-color:#4B4955;
}
html {
	background-color:#403D4B;
	background-size:contain;
}

#page-work, #page-education, #page-about, #page-contact {
	margin-top:100px;
	background-color:#64636A;
	margin-right:auto;
	margin-left:auto;
	border-radius:10px;
}
@media only screen and (max-width: 768px) {
	/*Put something here so that when you click navigation it doesn't hide behind navbar*/
}