.navbar-custom {
    color: #FFFFFF;
    background-color: #403D4B;
}
#pic-pro {
	height:75%;
	width:75%;
	align:center;
}
h1 {
	text-align:center;
}
#pic-sudoku {
	height:50%;
	width:50%;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}
body {
	font-family:Rockwell,"Bodoni MT";
	margin-left:100px;
	margin-right:100px;
	background-color:#4B4955;
	position:relative;
}
nav {
	display:block;
}
section /*#page-work, #page-education, #page-about, #page-contact*/ {
	margin-top:100px;
	background-color:#C0C0C0;
	margin-right:auto;
	margin-left:auto;
	border-radius:10px;
	padding:10px;
}
@media only screen and (max-width: 768px) {
	body {
		margin:0px;
	}
}